SECRET_KEY=troca-esta-chave-em-producao
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,seu-dominio.com,www.seu-dominio.com
CSRF_TRUSTED_ORIGINS=https://seu-dominio.com,https://www.seu-dominio.com
SQLITE_PATH=/app/data/db.sqlite3
SECURE_SSL_REDIRECT=False
