SECRET_KEY=troca-esta-chave-em-producao
DEBUG=False
PORT=8001
ALLOWED_HOSTS=127.0.0.1,localhost,naiprints3d.fixdados.store
CSRF_TRUSTED_ORIGINS=https://naiprints3d.fixdados.store
SQLITE_PATH=/app/media/db.sqlite3
REQUIRE_SQLITE_FILE=True
SECURE_SSL_REDIRECT=False
